<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/theater_service?serverTimezone=UTC
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1806</property>
        <property name="hibernate.show_sql">false</property>
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.pool_size">50</property>

        <mapping class="by.gstu.itp.models.beans.Play" />
        <mapping class="by.gstu.itp.models.beans.Author" />
        <mapping class="by.gstu.itp.models.beans.Date" />
        <mapping class="by.gstu.itp.models.beans.Genre" />
        <mapping class="by.gstu.itp.models.beans.accounts.Admin" />
        <mapping class="by.gstu.itp.models.beans.accounts.Courier" />
        <mapping class="by.gstu.itp.models.beans.accounts.Manager" />
        <mapping class="by.gstu.itp.models.beans.accounts.User" />
        <mapping class="by.gstu.itp.models.beans.Order" />

    </session-factory>
</hibernate-configuration>