@import "header.css";
@import "footer.css";
@import "main-content.css";
@import "play-page.css";

@font-face {
    font-family: "GTWalsheimPro";
    src: url('../fonts/GTWalsheimPro.otf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

html, body {
    height: 100%;
    margin: 0;
    background: #f4f4f4;
}

::-moz-focus-outer, ::-moz-focus-inner {
    border: 0;
    padding: 0;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'GTWalsheimPro', serif;
    font-size: 2vmax;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: .5s ease-in-out;
}

select, option {
    cursor: pointer;
}

#root {
    display: grid;
    height: 100%;
    grid-template-rows: 8vh 1fr 10vh;
}


input, select, textarea {
    font-size: 24pt;
    border-width: 0;
    background: #e6e6e6;
    outline: none;
    transition: .4s ease;
}

input, select, input[type = 'password'] {
    margin-top: 2vmin;
    height: 3vmax;
    padding-left: 1vmin;
}

input[type = "submit"], select{
    cursor: pointer;
}

input[type = "submit"]:hover, select:hover{
    box-shadow: inset 0 0 30px 50px rgba(0,0,0,.2);
}

input[type = "text"]:focus, input[type = "password"]:focus, select:hover, textarea:focus {
    box-shadow: inset 0 0 0 2px rgba(0,0,0,.2);
    border: none;
}