/*
    start main-content
*/

#content main {
    background: white;
    margin: 3vh auto 3vh;
    height: auto;
    width: 50vw;
    min-width: 400px;
    min-height: 400px;
    border-radius: 1vmin;
}

#content main .title {
    width: 100%;
    text-align: center;
    font-size: 3vmax;
    padding: 1vmin 0 2vmin;
    border-bottom: 3px solid #f4f4f4;
}

#content main .plays .play {
    padding: 1vmax;
    border-bottom: 2px solid #f4f4f4;
}


#content main .plays .play .play-title {
    display: inline-block;
    width: auto;
    background: #ff0000;
    color: white;
    font-weight: bold;
    padding: 1vmin;
}

#content main .plays .play .play-info {
    display: flex;
    padding-top: 1.5vmin;
    padding-bottom: 1.5vmin;
}

#content main .plays .play .play-info * {
    padding-left: 1vmin;
}

#content main .plays .play a.date-link {
    color: #6f6f6f;
    padding-left: 1vmin;
}

#content main .plays .play a.date-link:hover {
    color: #ff0000;
}

/*
    end main-content
*/